name: Build
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        go_version:
          - "1.24"
          - "1.25"

    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: actions/setup-go@v6.1.0
        id: go
        with:
          go-version: ${{ matrix.go_version }}

      - name: build
        run: go build
